@page "/CreateUser"
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@inject IUserService userService;
@inject HttpClient httpClient


<div class="card">
    <h3>Create User</h3>
    <div class="form-group field">
        <label>First Name:</label>
                <input type="text" @bind="firstname" @bind:event="oninput"/>
        <label>Last Name:</label>
        <input type="text" @bind="lastname" @bind:event="oninput"/>
        <label>Email:</label>
        <input type="text" @bind="email" @bind:event="oninput"/>
        <label>Password:</label>
        <input type="password" @bind="password" @bind:event="oninput"/>
        <label>Confirm Password:</label>
        <input type="password" @bind="confirmpassword" @bind:event="oninput"/>
        <label>Birthday:</label>
        <input type="date" @bind="birthday" @bind:event="oninput"/>




        @if (!string.IsNullOrEmpty(resultMsg))
        {
            <label style="color: @color">@resultMsg</label>
        }
    </div>
    <div class="button-row">
        <button @onclick="Create" disabled="@(string.IsNullOrEmpty(firstname))" class="acceptbtn">Create</button>
    </div>
</div>

@code {
    private string firstname = "";
    private string lastname = "";
    private string resultMsg = "";
    private string color = "";
    private string password = "";
    private string email = "";
    private DateTime? birthday;
    private string confirmpassword = "";
    private int securityLevel = 5;
    
    private async Task Create()
    {
        resultMsg = "";
        try
        {
            await userService.Create(new UserCreationDto(birthday,firstname,lastname,password,confirmpassword,email,securityLevel));
            firstname = "";
            lastname = "";
            password = "";
            email = "";
            confirmpassword = "";
            resultMsg = "User successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
}