@page "/LogIn"

@using BlazorWASM.Services
@inject IAuthService authService
@inject NavigationManager navMgr
<h3>LogIn</h3>
<AuthorizeView>
    <NotAuthorized>
        <div class="card">
            <h3>Log In</h3>
            <div class="field">
                <label>Email:</label>
                <input type="email" @bind="email"/>
            </div>
            <div class="field">
                <label style="text-align: center">Password:</label>
                <input type="password" @bind="password"/>
            </div>
            @if (!string.IsNullOrEmpty(errorLabel))
            {
                <div class="field">
                    <label style="color: red">
                        @errorLabel
                    </label>
                </div>
            }
            <div class="field">
                <button class="loginbtn" @onclick="LoginAsync2">Log in</button>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
       
    </Authorized>
</AuthorizeView>

@code {
    
    private string email;
    private string password;
    private string errorLabel;

    private async Task LoginAsync2()
    {
        errorLabel = "";
        try
        {
            await authService.LoginAsync(email, password);
            
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}